[submodule "sskeychain"]
	path = sskeychain
	url = https://github.com/soffes/sskeychain.git
[submodule "MKNetworkKit"]
	path = MKNetworkKit
	url = https://synchromation@github.com/synchromation/MKNetworkKit.git
[submodule "MBProgressHUD"]
	path = MBProgressHUD
	url = https://synchromation@github.com/synchromation/MBProgressHUD.git
