[submodule "sskeychain"]
	path = sskeychain
	url = https://github.com/soffes/sskeychain.git
[submodule "MKNetworkKit"]
	path = MKNetworkKit
	url = https://synchromation@github.com/synchromation/MKNetworkKit.git
[submodule "MBProgressHUD"]
	path = MBProgressHUD
	url = https://github.com/synchromation/MBProgressHUD.git
[submodule "MTLabel"]
	path = MTLabel
	url = https://synchromation@github.com/synchromation/MTLabel.git
[submodule "NSDate-Extensions"]
	path = NSDate-Extensions
	url = https://synchromation@github.com/synchromation/NSDate-Extensions.git
