[submodule "MKNetworkKit"]
	path = MKNetworkKit
	url = https://github.com/MugunthKumar/MKNetworkKit.git
[submodule "MBProgressHUD"]
	path = MBProgressHUD
	url = https://synchromation@github.com/synchromation/MBProgressHUD.git
