<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>APIHostName</key>
	<string>api.demo.rockpack.com</string>
	<key>BuildTarget</key>
	<string>Develop</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Rockpack</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>AppIcon-Dev-29x29.png</string>
		<string>AppIcon-Dev-29x29@2x.png</string>
		<string>AppIcon-Dev-40x40.png</string>
		<string>AppIcon-Dev-40x40@2x.png</string>
        <string>AppIcon-Dev-50x50.png</string>
		<string>AppIcon-Dev-50x50@2x.png</string>
		<string>AppIcon-Dev-57x57.png</string>
		<string>AppIcon-Dev-57x57@2x.png</string>
        <string>AppIcon-Dev-60x60.png</string>
		<string>AppIcon-Dev-60x60@2x.png</string>
        <string>AppIcon-Dev-72x72.png</string>
		<string>AppIcon-Dev-72x72@2x.png</string>
        <string>AppIcon-Dev-76x76.png</string>
		<string>AppIcon-Dev-76x76@2x.png</string>
	</array>
	<key>CFBundleIdentifier</key>
	<string>com.rockpack.dev.${PRODUCT_NAME:rfc1034identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.3.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb131721883664256</string>
				<string>rockpack</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1.3.0</string>
	<key>FacebookAppID</key>
	<string>131721883664256</string>
	<key>FacebookNamespace</key>
	<string>rockpack-dev</string>
	<key>FullVersion</key>
	<string>1.3.0</string>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>SecureAPIHostName</key>
	<string>secure.demo.rockpack.com</string>
	<key>UIAppFonts</key>
	<array>
		<string>DINNextLTPro-Regular.otf</string>
		<string>DINNextLTPro-Bold.otf</string>
	</array>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
</dict>
</plist>
